header {
background-color: #589054;
display: flex;
justify-content: center;
height: 60px;
font-size: xx-large;
align-items: center;
}

main {
background-color: #F0F0EE;
display: flex;
height: 100vh;
}

footer {
background-color: #589054;
display: flex;
justify-content: center;
align-items: center;
font-size: large;
height: 60px;
}

.sidebar {
background-color: #59B767;
width: 150px;
color: white;
padding: 20px;
}

.dashboard-content {
    flex: 1;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 15px;
    cursor: pointer;
}

.weather-widget {
    margin-top: 20px;
    margin-left: 20px;
    background-color: #393939; 
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    height: 300px;

}

.weather-row {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #555;
    font-size: 14px;
}

.temperature {
    display: flex;
    background-color: #393939;
    border-radius: 10px;
    padding: 15px;
    color: white;
    text-align: center;
    height: 250px;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    left: 300px;
    top: -620px;
}
